<div class="ticker-wrapper">
  <div class="bigHeading">Breaking News</div>
  <div class="text-update">
    <!-- <p>Coronavirus live updates:India reports no deaths for the first time</p> -->
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam praesentium architecto eius dicta odit expedita corporis, asperiores, esse magni, nulla impedit!</p>
  </div>
</div>
<br><br><br><br>
<div>
  <app-task1></app-task1>
</div>
<br><br><br><br>
<app-task2></app-task2> 
<br><br><br><br>
<app-task3></app-task3>