<!-- <div class="container"> -->
    <div class="ticker">
        <div class="title">
            <h5>Breaking News</h5>
        </div>
        <div class="news">
            <marquee behavior="" direction="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse cum excepturi facilis inventore eum corrupti, molestiae pariatur, dicta, labore ad accusantium laudantium dignissimos. Voluptatum provident ipsa dolorem temporibus neque sed.</p>
            </marquee>
        </div>
    </div>
<!-- </div> -->